/* ==========================================================================
   Dienste Planung - Table Styles
   ========================================================================== */

#diensteHistory {
	table-layout: fixed;
	width: 100%;
	font-size: smaller;
	font-weight: normal;
}
#diensteHistory th,
#diensteHistory td {
	font-size: smaller;
	font-weight: normal;
}
#diensteHistory tbody td {
	white-space: nowrap;
	vertical-align: middle;
}
#diensteHistory th:first-child,
#diensteHistory td:first-child {
	width: 30%;
}
#diensteHistory .dienste-name {
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Align option cells to top */
[id^="Optionen_"] {
	vertical-align: top;
}