:root {
	--standard-grey: #b3b3b3;
	--standard-green: #8aff8a;
	--standard-red: #ff3838;

	--scroll-bar-color: #c5c5c5;
	--scroll-bar-bg-color: #f6f6f6;
}

.select2-container--default .select2-selection--single {
	border: var(--bs-border-width) solid var(--bs-border-color);
}

::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

* {
	scrollbar-width: thin;
	scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-track {
	background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scroll-bar-color);
	border-radius: 20px;
	border: 3px solid var(--scroll-bar-bg-color);
}

body {
	padding-top: env(safe-area-inset-top);
}

.table-image {
	max-width: 30px;
	height: auto;
}


.ui-button {
	width: 150px;
}

a {
	color: white;
	text-decoration: unset;
}

.nav-tabs .nav-link {
	color: black;
}

.toast {
	background-color: rgba(var(--bs-body-bg-rgb), 0.95);

}

.toast a {
	color: red;
	text-decoration: underline;
}

#flugtag {
	text-align: center;
	border-style: solid;
	border-width: thin;
	max-width: 300px;
	font-weight: 600;
	background-image: linear-gradient(105deg, #c600ff 0%, #5700f7 100%);
	color: white;
}

#flugtag:hover,
#additional_flugtag:hover,
.date-picker:hover {
	cursor: pointer;
}

.fpbanner {
	flex-direction: column;
}

#countdown {
	margin-top: 1em;
}

.fa {
	height: 28px;
	margin-top: 8px;
}

#toastContainer {
	position: fixed;
	margin-left: 20px;
	margin-bottom: 20px;
	z-index: 3;
}

.toast-icon {
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.toast-error {
	background-color: var(--standard-red);
}

.toast-success {
	background-color: var(--standard-green);
}

#tagesplanung tr:first-child th,
#tagesplanung tr td:not(:first-child) {
	text-align: center;
}

.login {
	background-color: #0406c0;
}

.custom-select {
	display: flex;
	align-items: center;
  }

  .form-check-input {
	margin-right: 15px;
  }

  .avatar {
	margin-right: 10px; /* Adjust spacing as needed */
	max-width: 100px; /* Adjust the maximum width of the preview image */
  }

  .avatar img {
	width: 48px;
  }

  #avatar {
	flex: 1;
  }

  #avatar-header {
    margin-left: 1rem;
    background-color: white;
    border-radius: 30px;
    border-style: solid;
    border-color: #ff002d;
    border-width: 2px;
  }



.chatbox-messages {
	max-height: 300px;
	overflow: auto;
	padding-right: 20px;
	padding-top: 20px;
}

.chatbox-message-me {
	background-color: #e2e2e2;
	box-shadow: 5px 5px 12px 1px #cecece;
}

.chatbox-message-other-user {
	background-color: #fff;
	box-shadow: 5px 5px 12px 1px #cecece;
}

.chatbox-avatar {
	width: 45px;
	height: 100%;
}

.flash-login {
	animation: flash 2s infinite;
}

@keyframes flash {

	0%,
	100% {
		background-color: red;
	}

	12.5%,
	87.5% {
		background-color: orange;
	}

	25%,
	75% {
		background-color: yellow;
	}

	37.5%,
	62.5% {
		background-color: green;
	}

	50% {
		background-color: blue;
	}

	62.5%,
	37.5% {
		background-color: indigo;
	}

	75%,
	25% {
		background-color: violet;
	}
}


.move-image {
	animation: move 8s linear;
	background-image: url(../img/unicorn.png);
	background-repeat: no-repeat;
	background-position-y: center;
	position: fixed;
	left: -1000px;
	top: 10%;
	width: 500px;
	height: 500px;
	z-index: 1;
}

@keyframes move {
	from {
		left: -100%;
	}

	to {
		left: 100%;
	}
}

.custom-select select {
	width: 90%;
	padding: 8px;
	border: none;
	outline: none;
	background-color: #fff;
	cursor: pointer;
}

.custom-select:hover {
	background-color: #f0f0f0;
}


form {
	padding-left: 0px !important;
}

.tr_no_hgdf {
	background-image: repeating-linear-gradient(45deg, white 0%, white 2%, #e6e6e6 2%, #e6e6e6 4%, white 4%);
}

.alert-primary {
	--bs-alert-color: var(--bs-table-color);
	--bs-alert-bg: var(--button-color);
	--bs-alert-border-color: var(--standard-grey);
	--bs-alert-link-color: blue;
}

.bg-success {
	background-color: #ff890b !important;
}

.accordion-button,
.accordion-button:not(.collapsed) {
	color: var(--bs-table-color);
	background-color: var(--standard-grey);
}


.alert-success {
	background-color: #8aff8a;
}

.pilot-div {
	border-style: solid;
	border-width: thin;
	border-color: #e2e2e2;
	text-align: center;
	padding: 3px;
	margin-bottom: 2px;
	background-color: #f2f2f2;
	cursor: pointer;
}

.pilot-div-not-available {
	background-color: #ff8b8b;
}

.pilot-div-wish {
	background-color: #8bffb1;
}






.date-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.date-table th, .date-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.main-row {
    background-color: #f9f9f9;
}

.expand-button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.expand-button:hover {
    background-color: #0056b3;
}

.detail-row {
    background-color: #f1f1f1;
}

.highlight-day {
    background-color: var(--standard-green);
	font-weight: 700 !important;
    color: black !important;
    border-radius: unset !important;
    border-style: solid !important;
    border-width: thin !important;
	border-color: black;
}

.non-highlight-day {
	background-color: #b1b1b1 !important;
    color: #6a6a6a !important;
    border-radius: unset !important;
    border-style: solid !important;
    border-width: thin !important;
	border-color: black;
}

.datepicker table td.highlight-day.active {
    background-color: #26631b !important;
	background-image: none !important;
    color: white !important;
    border-radius: unset !important;
    border-style: solid !important;
    border-width: thin !important;
	border-color: black;
}

.datepicker table td.non-highlight-day.active {
    background-color: #d2d2d2 !important;
	background-image: none !important;
    color: #6a6a6a !important;
    border-radius: unset !important;
    border-style: solid !important;
    border-width: thin !important;
	border-color: black;
}

img.table-image.aircraft {
    height: 16px;
}

img.table-image.vote {
    height: 20px;
}
