<div class="custom-select">
    <div class="avatar" id="avatar-preview"></div>
    <select
            id="avatar"
            name="avatar"
            class="form-select"
            onchange="updatePreview()"
    >
        <option value="1">Avatar 1</option>
        <option value="2">Avatar 2</option>
        <option value="3">Avatar 3</option>
        <option value="4">Avatar 4</option>
        <option value="5">Avatar 5</option>
        <option value="6">Avatar 6</option>
        <option value="7">Avatar 7</option>
        <option value="8">Avatar 8</option>
        <option value="9">Avatar 9</option>
        <option value="10">Avatar 10</option>
        <option value="11">Avatar 11</option>
        <option value="12">Avatar 12</option>
        <option value="13">Avatar 13</option>
        <option value="14">Avatar 14</option>
        <option value="15">Avatar 15</option>
        <option value="16">Avatar 16</option>
        <option value="17">Avatar 17</option>
        <option value="18">Avatar 18</option>
        <option value="19">Avatar 19</option>
        <option value="20">Avatar 20</option>
    </select>
</div>
<label class="form-label" for="avatar">Avatar</label>
