<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <form method="post" id="update-user-info-form">
              <div class="card mb-4">
                <div class="card-header">
                  <h5 class="card-title">Persönliche Daten</h5>
                </div>
                <div class="card-body">
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="vorname"
                      id="vorname"
                      class="form-control form-control-lg"
                      required
                      value="{{ User_Information.firstname }}"
                      placeholder="Vorname"
                      aria-label="Vorname"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      name="nachname"
                      id="nachname"
                      class="form-control form-control-lg"
                      required
                      placeholder="Nachname"
                      aria-label="Nachname"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <select
                      class="form-select"
                      name="verein"
                      id="verein"
                      aria-label="Verein"
                    >
                      {% for id, club in clubs %}
                      <option value="{{ id }}">{{ club.name }}</option>
                      {% endfor %}

                    </select>
                  </div>

                  <div class="form-check d-flex justify-content-start mb-4">
                    <input
                      class="form-check-input"
                      name="windenfahrer"
                      type="checkbox"
                      value=""
                      id="windenfahrer"
                    />
                    <label class="form-check-label" for="windenfahrer"
                      >Ich habe einen Windenfahrerschein!</label
                    >
                  </div>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-header">
                  <h5 class="card-title">Fluggerät</h5>
                </div>
                <div class="card-body">
                  <div class="form-check d-flex justify-content-start mb-4">
                    <input
                      class="form-check-input"
                      name="fluggeraet_gleitschirm"
                      type="checkbox"
                      value=""
                      id="fluggeraet_gleitschirm"
                    />
                    <label
                      class="form-check-label"
                      for="fluggeraet_gleitschirm"
                      >Gleitschirm</label
                    >
                  </div>

                  <div class="form-check d-flex justify-content-start mb-4">
                    <input
                      class="form-check-input"
                      name="fluggeraet_drachen"
                      type="checkbox"
                      value=""
                      id="fluggeraet_drachen"
                    />
                    <label
                      class="form-check-label"
                      for="fluggeraet_drachen"
                      >Drachen/Starrflügler</label
                    >
                  </div>

                  <div class="form-check d-flex justify-content-start mb-4">
                    <input
                      class="form-check-input"
                      name="fluggeraet_sonstiges"
                      type="checkbox"
                      value=""
                      id="fluggeraet_sonstiges"
                    />
                    <label
                      class="form-check-label"
                      for="fluggeraet_sonstiges"
                      >Sonstiges</label
                    >
                  </div>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-header">
                  <h5 class="card-title">Aussehen</h5>
                </div>
                <div class="card-body">
                  <div class="form-outline mb-4">
                    {% include('partials/avatar-selector.twig.html') %}
                  </div>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-header">
                  <h5 class="card-title">Zugangsdaten</h5>
                  <p>
                    Nur ausfüllen, wenn eine neue E-mail oder ein neues Passwort
                    gesetzt werden soll
                  </p>
                </div>
                <div class="card-body">
                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="form-control form-control-lg"
                      autocomplete="off"
                      placeholder="E-Mail"
                      aria-label="E-Mail"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="form-control form-control-lg mb-4"
                      autocomplete="new-password"
                      placeholder="Neues Passwort"
                      aria-label="Neues Passwort"
                    />
                    <input
                      type="password"
                      name="password_confirm"
                      id="password_confirm"
                      class="form-control form-control-lg"
                      autocomplete="new-password"
                      placeholder="Neues Passwort wiederholen"
                      aria-label="Neues Passwort wiederholen"
                    />
                  </div>
                </div>
              </div>


              <div class="card mb-4">
                <div class="card-header">
                  <h5 class="card-title">Newsletter</h5>
                </div>
                <div class="card-body">
                  <div class="form-check d-flex justify-content-start mb-4">
                    <input
                      class="form-check-input"
                      name="newsletter"
                      type="checkbox"
                      value=""
                      id="newsletter"
                    />
                    <label class="form-check-label" for="newsletter"
                      >Ich möchte den E-Mail Newsletter für Updates in der Flugplanung erhalten.</label
                    >
                  </div>
                </div>
              </div>

              <button
                class="btn btn-primary btn-lg btn-block mb-4 ui-button"
                type="submit"
              >
                Aktualisieren
              </button>
              <div
                id="update-error"
                class="alert alert-danger d-none"
                role="alert"
              ></div>
            </form>

            <form method="post" id="delete-user-form">
              <div class="card mb-4">
                <div class="card-header bg-danger">
                  <h5 class="card-title bg-danger text-white">Gefahrenzone</h5>
                </div>
                <div class="card-body">
                  <div class="form-outline mb-4">
                    <p>
                      Um Deinen Account zu löschen, trage bitte in das Feld ein:
                    </p>
                    <p><strong>bitte lösche meinen account</strong></p>
                    <input
                      type="text"
                      name="confirm_delete_account"
                      id="confirm_delete_account"
                      class="form-control form-control-lg"
                    />

                    <button
                      class="btn btn-danger btn-md btn-block ui-button mt-2"
                      type="submit"
                    >
                      Account löschen
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


