<div class="row mt-3">
	<div class="col-12 mb-3">
		<form>

			<div class="input-group date" id="datepicker">
				<input type="text" class="form-control date-picker date" id="flugtag" style="text-align: center" />
				<span class="input-group-append">
					<span class="input-group-text bg-light d-block">
						<i class="fa-solid fa-calendar-days"></i>
					</span>
				</span>
			</div>
		</form>
	</div>
</div>


<div class="row">
	<h1>Branch Take over Duty</h1>
	<div class="col-12 mb-3">
		<div class="table-responsive">
			<table class="table table-hover table-bordered" id="tagesplanung">
				<thead>
					<tr>
						<th>Pilot</th>
						<th>Verein</th>
						<th>NGL</th>
						<th>HRP</th>
						<th>AMD</th>
						<th>Kommentar</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<div class="d-flex justify-content-center d-none" id="spinner">
			<div class="spinner-border" role="status"> </div>
		</div>
	</div>
</div>


<div class="row" id="eintraege">
	<div class="col-6 mb-3">
		<button type="button" class="btn btn-primary ui-button d-none" data-bs-toggle="modal"
			data-bs-target="#enterModal" id="btn_enter">
			Eintragen
		</button>

		<button type="button" class="btn btn-warning mb-3 ui-button d-none" data-bs-toggle="modal"
			data-bs-target="#enterModal" id="btn_update">
			Eintrag Ändern
		</button>

		<button type="button" class="btn btn-danger mb-3 ui-button d-none" id="btn_delete" onclick="delete_pilot()">
			Austragen
		</button>
	</div>

</div>

<div class="row  d-none" id="flugbetriebAusrufen">
	<div class="col">
		<p>Betrieb ausrufen:</p>
		<button type="button" class="btn btn-secondary ui-button mb-2" id="btn_betrieb0" onclick="betriebAusrufen(0)">
			NGL
		</button>
		<button type="button" class="btn btn-secondary ui-button mb-2" id="btn_betrieb1" onclick="betriebAusrufen(1)">
			HRP
		</button>
		<button type="button" class="btn btn-secondary ui-button mb-2" id="btn_betrieb2" onclick="betriebAusrufen(2)">
			AMD
		</button>
	</div>

	<div class="col">
		<p>Betrieb absagen:</p>
		<button type="button" class="btn btn-secondary ui-button mb-2" id="btn_betrieb_absagen" onclick="betriebAusrufen(999)">
			Für alle Fluggebiete absagen
		</button>
	</div>

	<div class="col">
		<p>Aufbau:</p>
		<input type="time" id="aufbau" name="appt" min="09:00" max="18:00" value="10:00" style="height:40px"
			onchange="betriebAusrufen('timechange')" />

	</div>

</div>

<div class="row">
	<div class="col-12 mb-3">

		<div id="banner_flugbetrieb_0" class="alert alert-success d-flex align-items-center mt-3 mb-3 d-none"
			role="alert">
			<img src="img/flugbetrieb.svg" width="24" height="24" style="margin-right: 0.5rem" alt="Custom SVG">
			<div>
				Flugbetrieb in Neustadt-Glewe
			</div>
		</div>

		<div id="banner_flugbetrieb_1" class="alert alert-success d-flex align-items-center mt-3 mb-3 d-none"
			role="alert">
			<img src="img/flugbetrieb.svg" width="24" height="24" style="margin-right: 0.5rem" alt="Custom SVG">
			<div>
				Flugbetrieb in Hörpel
			</div>
		</div>

		<div id="banner_flugbetrieb_2" class="alert alert-success d-flex align-items-center mt-3 mb-3 d-none"
			role="alert">
			<img src="img/flugbetrieb.svg" width="24" height="24" style="margin-right: 0.5rem" alt="Custom SVG">
			<div>
				Flugbetrieb in Altenmedingen
			</div>
		</div>

		<div id="banner_aufbau" class="alert alert-warning d-flex align-items-center mt-3 mb-3 d-none" role="alert">
			<img src="img/clock.svg" width="24" height="24" style="margin-right: 0.5rem" alt="Custom SVG">
			<div>
				Aufbauzeit
			</div>
		</div>

		<div id="minpilotreached" class="alert alert-warning d-flex align-items-center mt-3 fpbanner d-none" role="alert">
			<svg class="bi me-2" width="24" height="24" role="img" aria-label="Info:">
				<use xlink:href="img/warning.svg#warning-fill" />
			</svg>
		</div>

		<div id="no_official_flugtag" class="alert alert-warning d-flex align-items-center mt-3 fpbanner d-none" role="alert">
			<svg class="bi me-2" width="24" height="24" role="img" aria-label="Info:">
				<use xlink:href="img/warning.svg#warning-fill" />
			</svg>
			Dieser Tag ist nicht als Flugtag eingetragen!
		</div>

		<div id="abgesagt" class="alert alert-danger d-flex align-items-center mt-3 fpbanner d-none" role="alert">
			<svg class="bi me-2" width="24" height="24" role="img" aria-label="Info:">
				<use xlink:href="img/warning.svg#warning-fill" />
			</svg>
			Der Flugbetrieb für diesen Tag wurde abgesagt!
		</div>


		<!--- Chatbox --->
		<div class="container py-5">
			<div class="row d-flex justify-content-start">
				<div class="col-md-8 col-lg-6 col-xl-4">
					<div class="card" id="chat1" style="">
						<div
								class="card-header d-flex justify-content-between align-items-center p-3 border-bottom-0"
								style="">
							<p class="mb-0 fw-bold" style = "margin: auto" >Chat</p>
						</div>
						<div class="card-body">
							<div class="chatbox-messages" id="chatbox-messages">
							</div>
							<div class="form-outline">
								<textarea class="form-control" id="chatboxMessage" rows="4" maxlength="255"></textarea>
								<label class="form-label" for="chatboxMessage">Nachricht</label>
							</div>
							<button type="button" class="btn btn-outline-secondary ui-button mb-2" onclick="enterChatboxMessage(true)">
								Senden
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 
		<div class="row mt-3 mb-3">
			<div class="accordion" id="helpAccordion">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							Hilfe
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
						data-bs-parent="#helpAccordion">
						<div class="accordion-body">
							<strong>Updates Version 1.1.0!</strong><br>
							<ul>
								<li>Dienste können vom User selbst übernommen werden</li>
								<li>Flugbetrieb kann auch vom Windenfahrer eingetragen werden</li>
								<li>Tage, die nicht offiziell als Flugtage eingetragen wurden, werden als solche gekennzeichnet</li>
								<li>Das Passwort kann jetzt vom User selbst zurückgesetzt werden</li>
							</ul>
							
							<br>
							Wenn du Fragen zur neuen Planung hast, wende Dich bitte an Justin.
						</div>
					</div>
				</div>
			</div>
		</div>
		-->
	</div>
</div>

<div class="modal fade" id="enterModal" tabindex="-1" aria-labelledby="enterModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="enterModalLabel">Eintragen für Flugtag</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">


				<form action="insert.php" method="post" id="FluggebietForm">

					<div class="row">

						<div class="col border-end mb-4">
							<h4 class="mb-4 pb-3 border-bottom">Erste Wahl</h4>
							<div class="btn-group-vertical btn-block w-100">
								<button type="button" class="btn btn-outline-primary btn-block ui-button"
									id="list_fist_choice_1">Neustadt-Glewe</button>
								<button type="button" class="btn btn-outline-primary btn-block ui-button"
									id="list_fist_choice_2">Hörpel</button>
								<button type="button" class="btn btn-outline-primary btn-block ui-button"
									id="list_fist_choice_3">Altenmedingen</button>
							</div>

						</div>

						<div class="col border-end mb-4">
							<h4 class="mb-4 pb-3 border-bottom">Alternative</h4>

							<div class="btn-group-vertical w-100">
								<button type="button" class="btn btn-outline-primary ui-button"
									id="list_alternative_1">Hörpel</button>
								<button type="button" class="btn btn-outline-primary ui-button"
									id="list_alternative_2">Altenmedingen</button>
							</div>

						</div>

					</div>

					<div class="row mb-4">
						<div class="form-group">
							<label for="kommentar">Kommentar</label>
							<input autocomplete="off" type="text" name="kommentar" class="form-control" id="kommentar"
								aria-describedby="emailHelp" maxlength="100">

						</div>
					</div>

				</form>

				<div id="take_over_duty" class="d-none">
					<p id="take_over_duty_text"></p>
					<button type="button"  class="btn btn-outline-warning ui-button mb-4"
						data-bs-toggle="modal" data-bs-target="#confirmTakeOverModal">Dienst übernehmen</button>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-outline-warning ui-button"
						data-bs-dismiss="modal">Abbrechen</button>
					<button type="button" class="btn btn-outline-success ui-button" onclick="enterPilot()"
						data-bs-dismiss="modal">Absenden</button>

				</div>

			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="confirmTakeOverModal" tabindex="-1" aria-labelledby="confirmTakeOverModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmTakeOverModalLabel">Bestätigung</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="confirmTakeOverModalText">Ja, ich möchte diesen Dienst übernehmen!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-warning ui-button"
					data-bs-dismiss="modal">Abbrechen</button>
				<button type="button" class="btn btn-outline-success ui-button"
					onclick="enterDienst(); $('#confirmTakeOverModal').modal('hide')" data-bs-dismiss="modal">Bestätigen</button>
			</div>
		</div>
	</div>
</div>

