{% include('partials/saison.twig.html') %}

<div class="row mb-3">
	<div class="col-md-6">
		<div class="input-group" id="additional_flugtag_wrapper">
			<input type="text" class="form-control" id="additional_flugtag"
				style="text-align: center" />
			<span class="input-group-append">
				<span class="input-group-text bg-light d-block">
					<i class="fa-solid fa-calendar-days"></i>
				</span>
			</span>
		</div>

	</div>
</div>

<div class="row mb-3">

	<div class="col-md-6">
		<button class="btn btn-primary ui-button" onclick="enterSingleFlugtag()">Einzeltag eintragen</button>
	</div>
</div>


<div class="row mb-3">
	<div class="col-md-12">
		<button class="btn btn-warning ui-button" onclick="getWeekendDays()">Alle Wochenenden eintragen</button>
	</div>
</div>


<script>
	$(function () {
		$('#additional_flugtag').datepicker({
			language: 'de',
			weekStart: 1,
			daysOfWeekHighlighted: [0,6],
			todayHighlight: true,
			autoclose: true,
			forceParse: false,
			format: 'dd.mm.yyyy'
		});
		$('#additional_flugtag').datepicker('update', new Date());
	});
</script>


<!-- Flugtage Cards Container -->
<div class="row">
	<div class="col-lg-6 col-md-8">
		<div class="cards-container" id="flugtage-container">
			<!-- Cards will be inserted here by JavaScript -->
		</div>
	</div>
</div>
