<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="Flugplanung">
	<link rel="manifest" href="/manifest.php">

    <link
      rel="stylesheet"
      type="text/css"
      href="{% cache_busting 'css/bootstrap.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% cache_busting 'css/select2.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% cache_busting 'css/style.css' %}"
    />

    <script src="{% cache_busting 'js_modules/jquery.js' %}"></script>
    <script src="{% cache_busting 'js_modules/select2.full.min.js' %}"></script>
    <script src="{% cache_busting 'js_modules/bootstrap.js' %}"></script>
    <script src="{% cache_busting 'js/register.js' %}"></script>
    <script src="{% cache_busting 'js/avatar.js' %}"></script>
    <script src="{% cache_busting 'js/toasts.js' %}"></script>

    <script>
      $(document).ready(function () {
        $("#verein_register").select2({
          width: "100%",
          containerCssClass: "form-control form-control-lg",
        });
      });
    </script>
  </head>

  <body>
    <div id="toastContainer"></div>

    <section class="login">
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <h2 class="mb-2">Anmeldung</h2>
                <h4 class="mb-2">Flugplanung des {{ clubs[clubId].name }}</h4>
                <p class="mb-4" style="color: #8e8e8e; font-style: italic">
                  Hier bist du richtig bei unserer neuen Flugplanung!<br />Ab
                  jetzt müssen sich alle Flieger registrieren!<br /><br />
                  Die Flugplanung für den Milaner e.V. ist jetzt
                  <a
                    style="
                      color: red;
                      font-style: italic;
                      text-decoration: underline;
                    "
                    href="https://milaner.uber.space/login.php"
                    >hier</a
                  >
                  zu finden!
                </p>

                <form method="post" action="login.php">
                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      name="email"
                      id="typeEmailX-2"
                      value="{{ email }}"
                      class="form-control form-control-lg"
                      required
                      placeholder="E-Mail"
                      aria-label="E-Mail"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      name="password"
                      id="typePasswordX-2"
                      class="form-control form-control-lg"
                      required
                      placeholder="Passwort"
                      aria-label="Passwort"
                    />
                  </div>

                  <button
                    class="btn btn-primary btn-lg btn-block mb-4 ui-button"
                    type="submit"
                  >
                    Login
                  </button>

                  <p class="small mb-5 pb-lg-2">
                    <a class="text-muted" href="#!" onclick="forgotPassword()">Passwort vergessen?</a>
                  </p>
                  {% if error %}
                  <div class="alert alert-danger" role="alert">{{ error }}</div>
                  {% endif %}
                </form>

                <hr class="my-4" />

                <p class="small mb-5 pb-lg-2">
                  Noch keinen Account?<br>
                  <button
                    type="button"
                    class="btn btn-danger mb-5 btn-md ui-button"
                    onclick="openRegisterForm()"
                  >
                  Hier registrieren!
                  </button>
                </p>

                <form method="post" id="registration-form" class="d-none">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h5 class="card-title">Allgemeine Daten</h5>
                    </div>
                    <div class="card-body">
                      <div class="form-outline mb-4">
                        <input
                          type="email"
                          name="email_register"
                          id="email_register"
                          class="form-control form-control-lg"
                          required
                          placeholder="E-Mail"
                          aria-label="E-Mail"
                        />
                      </div>
                      <div class="form-outline mb-4">
                        <input
                          type="password"
                          name="password_register"
                          id="password_register"
                          class="form-control form-control-lg"
                          required
                          placeholder="Passwort"
                          aria-label="Passwort"
                          />
                      </div>
                      <div class="form-outline mb-4">
                        <input
                          type="text"
                          name="vorname_register"
                          id="vorname_register"
                          class="form-control form-control-lg"
                          required
                          placeholder="Vorname"
                          aria-label="Vorname"
                        />
                      </div>
                      <div class="form-outline mb-4">
                        <input
                          type="text"
                          name="nachname_register"
                          id="nachname_register"
                          class="form-control form-control-lg"
                          required
                          placeholder="Nachname"
                          aria-label="Nachname"
                        />
                      </div>

                      <div class="form-outline mb-4">
                        <select
                          class="form-select"
                          name="verein_register"
                          id="verein_register"
                          aria-label="Verein"
                        >
                          {% for id, club in clubs %}
                          <option value="{{ id }}">{{ club.name }}</option>
                          {% endfor %}
                        </select>
                      </div>

                      <div class="form-check d-flex justify-content-start mb-4">
                        <input
                          class="form-check-input"
                          name="windenfahrer_register"
                          type="checkbox"
                          value=""
                          id="windenfahrer_register"
                        />
                        <label
                          class="form-check-label"
                          for="windenfahrer_register"
                          >Ich habe einen Windenfahrerschein!</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card mb-4">
                    <div class="card-header">
                      <h5 class="card-title">Fluggerät</h5>
                    </div>
                    <div class="card-body">
                      <div class="form-check d-flex justify-content-start mb-4">
                        <input
                          class="form-check-input"
                          name="fluggeraet_gleitschirm"
                          type="checkbox"
                          value=""
                          id="fluggeraet_gleitschirm"
                        />
                        <label
                          class="form-check-label"
                          for="fluggeraet_gleitschirm"
                          >Gleitschirm</label
                        >
                      </div>

                      <div class="form-check d-flex justify-content-start mb-4">
                        <input
                          class="form-check-input"
                          name="fluggeraet_drachen"
                          type="checkbox"
                          value=""
                          id="fluggeraet_drachen"
                        />
                        <label class="form-check-label" for="fluggeraet_drachen"
                          >Drachen/Starrflügler</label
                        >
                      </div>

                      <div class="form-check d-flex justify-content-start mb-4">
                        <input
                          class="form-check-input"
                          name="fluggeraet_sonstiges"
                          type="checkbox"
                          value=""
                          id="fluggeraet_sonstiges"
                        />
                        <label
                          class="form-check-label"
                          for="fluggeraet_sonstiges"
                          >Sonstiges</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="card mb-4">
                    <div class="card-header">
                      <h5 class="card-title">Aussehen</h5>
                    </div>
                    <div class="card-body">
                      <div class="form-outline mb-4">
                        {% include('partials/avatar-selector.twig.html') %}
                      </div>
                    </div>
                  </div>

                  <button
                    class="btn btn-primary btn-lg btn-block mb-4 ui-button"
                    type="submit"
                  >
                    Registrieren
                  </button>
                  <div
                    id="register-error"
                    class="alert alert-danger d-none"
                    role="alert"
                  ></div>
                </form>

                <hr class="my-4" />

                <p class="small mb-5 pb-lg-2">
                  Um die Flugplanung auf deinem Handy bequem zu nutzen, verwende die
                  Funktion "Zum Home-Bildschirm" (je nach System heisst diese evtl.
                  anders). Dann kannst du die Flugplanung wie eine App aufmachen und
                  hast mehr Platz auf dem Bildschirm.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
