{% include('partials/saison.twig.html') %}

<table class="table">
	<thead>
		<tr>
			<th>Tag</th>
			<th>Ja</th>
			<th>Nein</th>
			<th>Egal</th>
		</tr>
	</thead>
	<tbody id="table-body"></tbody>
</table>

<button class="btn btn-primary ui-button" id="saveButton" onclick="saveWuensche()">Speichern</button>

<div class="row mt-3 mb-3">
	<div class="accordion" id="accordionExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
					aria-expanded="false" aria-controls="collapseOne">
					Hilfe
				</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
				data-bs-parent="#accordionExample">
				<div class="accordion-body">
					Kommt noch…
				</div>
			</div>
		</div>
	</div>
</div>
